
      <tr>
        <td align="center" valign="middle" style="padding:10px; color:#333; line-height:0">
          <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:40px;">
            <tbody>
              <tr>
                <td width="70%" align="left" valign="middle" style="color:#f55100;">
                  <a style="color:#f55100; text-decoration:none; font-size: 12px" href="javascript:void(0);" target="_blank">
                    Terms &amp; Condition
                  </a> |
                  <a style="color:#f55100; text-decoration:none; font-size: 12px" href="javascript:void(0);" target="_blank">
                    Privacy Policy
                  </a> |
                  <a style="color:#f55100; text-decoration:none; font-size:12px" href="javascript:void(0);" target="_blank">
                    Contact
                  </a>
                </td>
                <td width="30%" align="right" valign="middle">
                 Social Media
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td align="center" valign="middle" bgcolor="#ccc" style="padding:12px; color:#ffffff; margin:0; line-height:0; font-size: 10px;">
           Copyrights © 2020 All Rights Reserved - Your Website App.
        </td>
      </tr>
      <tr>
        <td style="height:10px;"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>