<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Walk-In App News Letter</title>
  <style>
    @media(max-width:600px) {
      table {
        width: 100%;
      }
  </style>
</head>
<body>
  <table width="650" border="0" align="center" cellpadding="0" cellspacing="0"
    style="font-family:Arial,Helvetica,sans-serif; font-size:14px">
    <tbody>
      <tr>
        <td style="height:20px"></td>
      </tr>
      <tr>
        <td align="center" valign="middle" style="padding:0px;margin:0;line-height:0;">
          <a href="javascript:void(0);" style="margin-top:10px; display:block; margin-bottom:25px;">
            LOGO
          </a>
        </td>
      </tr>